# requirements.txt file processed by: 
# pip install --upgrade -r requirements.txt
# pip-audit -r requirements.txt

aiohttp   # for async features
asyncio
bokeh
fastapi
flask

google-api-python-client   # Google API Python Client for Google Workspace APIs, general REST APIs
google-auth    # to autodetect & use ADC credentials common Google Cloud services Cloud Storage, BigQuery, Pub/Sub
google-auth-httplib2 
google-auth-oauthlib

google-api-python-client  # General Google APIs
googleapis-common-protos  # Common protocol buffers

#google-cloud-aiplatform
google-cloud-bigquery
google-cloud-compute
google-cloud-core
google-cloud-firestore
google-cloud-pubsub
google-cloud-secret-manager
google-cloud-storage

matplotlib
# numpy   # error installing
openai
pandas
pathlib
plotly     # matplotlib interactively
psutil     # psutil-7.0.0
pydantic
pylint 
python-dotenv
pythonping
pytz
statsd    # monitoring
tenacity
typing
tzdata
uuid

tabulate
tenacity
typing
uuid

